@model GestionDesVisiteurs.Models.Visiteur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visiteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVisite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVisite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureEntree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureEntree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureSortie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureSortie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstValide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstValide)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
